.titr {
    position: static; /* ou une autre valeur selon vos besoins */
    left: 0; /* Ajustez cette valeur selon vos besoins */
    background-color: violet;
}

.bg-violet {
    background-color: violet;
}
.navbar-nav .nav-link {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 8px 16px; /* Espacement interne */
}
.button34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  